.petos-beneficios-container {
  display: flex;
  justify-content: center;
  margin: 4200px auto auto auto;
  position: absolute;
  gap: 2rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
}

.beneficio-card {
  background-color: #ff3131;
  color: white;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.beneficio-card:hover {
  transform: translateY(-5px);
}

.beneficio-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}
