.templates-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  margin: 2200px 600px auto 10px;
  gap: 60px;
  flex-wrap: wrap;
  position: absolute;
  width: 800px;
  z-index: 10;
}

.templates-texto {
  max-width: 600px;
  z-index: 10;
}

.templates-texto h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.templates-texto p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  width: 580px;
}

.templates-botao {
  background: #ff9689;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.templates-imagem video {
  max-width: 1000px;
  margin: -850px 600px auto 400px;
}

/*SEGUNDO*/

.templates-video2 {
  max-width: 700px;
  border-radius: 1rem;
}

.templates-segundo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  margin: 2700px 600px auto 10px;
  gap: 60px;
  flex-wrap: wrap;
  position: absolute;
  width: 800px;
}

.templates-segundo-texto {
  margin-left: 200px;
  z-index: 10;
  margin-top: 100px;
}

.templates-segundo-texto h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 20px;
  margin-left: 500px;
  width: 600px;
}

.templates-segundo-texto p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  margin-left: 500px;
}

.templates-segundo-botao {
  background: #ff9689;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 500px;
}

.templates-video {
  max-width: 700px;
  border-radius: 1rem;
  margin-top: -630px;
}

/*TERCEIRO*/

.templates-terceiro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  margin: 3600px 600px auto 10px;
  gap: 60px;
  flex-wrap: wrap;
  position: absolute;
  width: 800px;
  z-index: -20;
}

.templates-terceiro-imagem video {
  max-width: 1000px;
  margin: -1000px 600px auto 400px;
}

.templates-terceiro-texto {
  max-width: 490px;
  z-index: 10;
}

.templates-terceiro-texto h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.templates-terceiro-texto p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  width: 560px;
}
