.faq-container {
  max-width: 800px;
  margin: 4560px 560px auto auto;
  padding: 3rem 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  position: absolute;
  gap: 2rem;
  flex-wrap: wrap;
}

.faq-titulo {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: #ff9689;
}

.faq-item {
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: -10px;
}

.faq-item:hover .faq-pergunta {
  color: #da2a2a;
}

.faq-pergunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ff3131;
}

.faq-resposta {
  margin-top: 20px;
  margin-bottom: -30px;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.icone-seta {
  position: absolute; /* novo */
  transition: transform 0.3s ease;
  left: 750px;
}

.icone-seta.girar {
  transform: rotate(180deg);
}
