.faq-container {
  max-width: 800px;
  margin: 4560px 560px auto auto;
  padding: 3rem 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  position: absolute;
  gap: 2rem;
  flex-wrap: wrap;
}

.faq-item {
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: -10px;
}

.faq-item:hover .faq-pergunta {
  color: #da2a2a;
}

.faq-pergunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  color: #ff6969;
}

.faq-resposta {
  margin-top: 30px;
  margin-bottom: -15px;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.icone-seta {
  position: absolute; /* novo */
  transition: transform 0.3s ease;
  left: 750px;
}

.icone-seta.girar {
  transform: rotate(180deg);
}

.faq-imagem img {
  max-width: 600px; /* ou como preferir */
  height: auto;
  border-radius: 12px; /* opcional para estilo */
  margin-left: 750px;
  margin-top: -520px;
}
