.faq-container {
  max-width: 800px;
  margin: 4700px 600px auto auto;
  padding: 3rem 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  position: absolute;
  gap: 2rem;
  flex-wrap: wrap;
}

.faq-titulo {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #5d2998;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.faq-item:hover {
  background-color: #f8f1ff;
}

.faq-pergunta {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1rem;
  color: #5d2998;
}

.faq-resposta {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.icone-seta {
  transition: transform 0.3s ease;
}

.icone-seta.girar {
  transform: rotate(180deg);
}
