.container-inicial {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 90px;
  gap: 70px; /* Espaçamento entre os itens */
  top: 10px;
  flex: 1;
  margin-left: -10px;
}

.conteudo {
  max-width: 600px;
  max-height: 600px;
  z-index: 2;
}

.inicial-titulo {
  font-size: 80px;
  margin-left: 15px;
  width: 800px;
  line-height: 1.2;
  margin-top: 0px;
}

.inicial-sub-titulo {
  font-size: 25px;
  margin-left: 15px;
  width: 800px;
  color: #727272;
  margin-top: 25px;
}

.botoes-container {
  display: flex;
  gap: 15px; /* Espaço entre os botões */
  margin-top: 30px;
  margin-left: 15px;
}

.botao {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  text-decoration: none;
  border-color: #e0e0e0;
}

.botao div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.strong-achei {
  font-size: 18px;
  color: white;
}

.strong-perdi {
  font-size: 18px;
  color: black;
}

.botao span {
  font-size: 14px;
}

/* Estilizando os botões individualmente */
.botao-perdi {
  background: linear-gradient(to right, #ff3131, #ffd040);
  color: white;
}

/* Estilizando os botões individualmente */
.botao-perdi:hover {
  background: linear-gradient(to right, #ff0000, #ffbf00);
  color: white;
}

.botao-achei {
  background: linear-gradient(to right, #ffcece, #ffebb0);
  color: #ff3131;
}

.botao-achei:hover {
  background: linear-gradient(to right, #ffdfdf, #fff0c4);
  color: #ff3131;
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search-perdi {
  font-size: 40px;
  color: #ffffff; /* Cor da lupa */
}

.icon-search-achei {
  font-size: 40px;
  color: #ff3131; /* Cor da lupa */
}

.icon-bone-perdi {
  font-size: 25px;
  color: #ff3131;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.icon-bone-achei {
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.linha-divisoria {
  width: 100%; /* Ocupa toda a largura da tela */
  max-width: 1435px; /* Mantém alinhado com os elementos principais */
  margin: 20px auto 0 15px; /* Centraliza e adiciona espaçamento */
  height: 3px; /* Espessura da linha */
  background-color: #e0e0e0;
  position: absolute;
  bottom: 485px;
}

.botao-extra {
  padding: 35px;
  max-width: 585px; /* Define um limite máximo */
  height: 50px;
  background: linear-gradient(to right, #ff3131, #ffd040);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px; /* Espaçamento entre os botões */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
  margin-left: 15px;
}

.botao-extra:hover {
  background: linear-gradient(to right, #ff0000, #ffbf00);
}

.strong-extra {
  font-size: 20px;
  color: white;
}

.icone-paw {
  font-size: 50px;
  color: white; /* Cor da lupa */
}

.icone-question {
  font-size: 20px;
  color: #ff3131;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}
