.painel-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  margin-right: 18px;
}

.painel-geral {
  width: 600px;
  padding: 30px;
  background: linear-gradient(to right, #fff0f0, #fffcf2);
  border-radius: 8px;
  margin-left: -515px;
  border: 1px solid #ffd8d8;
}

.painel-geral h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.painel-titulo {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 80px;
  margin-right: 1150px;
}

.painel-formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.painel-campo {
  display: flex;
  flex-direction: column;
}

.painel-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.painel-label b {
  color: #b3b3b3;
  margin-left: 10px;
}

.painel-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffbdbd;
  border-radius: 6px;
  outline-color: #ff9a9a;
}

.painel-texto {
  font-size: 16px;
  color: #222;
  padding: 10px;
  border: 1px solid #ffbdbd;
  border-radius: 6px;
}

.painel-botoes {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.painel-botao {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: -50px;
  margin-bottom: 20px;
}

.painel-botao.editar {
  background: linear-gradient(to right, #ff0000, #ffbf00);
  color: #fff;
  font-weight: bold;
}

.painel-botao.editar:hover {
  background: linear-gradient(to right, #ff5454, #ffd454);
  color: #fff;
  font-weight: bold;
}

.painel-botao.salvar {
  background: linear-gradient(to right, #dbab1b, #ffd34d);
  color: #fff;
  font-weight: bold;
}

.painel-botao.salvar:hover {
  background: linear-gradient(to right, #eeba1d, #ffe38f);
}

.painel-botao.cancelar {
  background: linear-gradient(to right, #6c757d, #acbac5);
  color: #fff;
  font-weight: bold;
}

.painel-botao.cancelar:hover {
  background: linear-gradient(to right, #a1a2a5, #c9d9e6);
}

.footer-container-painel-user {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: -3950px;
}

.painel-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

.painel-perfil {
  width: 250px;
  padding: 20px;
  background: linear-gradient(to right, #fffaf0, #ffe5e5);
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ffd8d8;
  height: fit-content;
}

.painel-foto-perfil {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #ffbdbd;
}

.painel-nome-usuario {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.painel-botao.logout {
  background: linear-gradient(to right, #ff4d4d, #ff9900);
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.painel-botao.logout:hover {
  background: linear-gradient(to right, #ff6f6f, #ffc266);
}
