.inicial-titulo {
  font-size: 90px;
  margin-left: -120px;
  width: 70%;
  max-width: 1300px;
  margin-top: -10px;
  line-height: 1.2; /* Reduz o espaçamento entre as linhas */
}

.inicial-sub-titulo {
  font-size: 25px;
  margin-left: -120px;
  width: 70%;
  max-width: 1300px;
  margin-top: 25px;
  color: #727272;
}
