.etapa3-select-group-ado {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.etapa3-select-wrapper-ado {
  display: flex;
  flex-direction: column;
}

.etapa3-select-label-ado {
  font-weight: 600;
  margin-bottom: 0.6rem;
  font-size: 16px;
  color: #2d2d2d;
}

.etapa3-optional-label-ado {
  font-weight: 400;
  font-size: 14px;
  color: #999;
  margin-left: 0.3rem;
}

.etapa3-custom-select-ado {
  width: 500px;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border 0.2s ease;
  padding-right: 2rem;
}

.etapa3-custom-select-ado:focus {
  border-color: #ffc1c1;
  box-shadow: 0 0 0 2px rgba(255, 193, 193, 0.5);
}

.etapa3-custom-select-ado {
  color: #000; /* Cor padrão */
}

.etapa3-custom-select-ado.placeholder-ado {
  color: #999;
}

.etapa3-custom-select-ado option {
  color: #000 !important; /* Força cor preta nas opções */
}

.etapa3-select-container-ado {
  position: relative;
  display: flex;
  align-items: center;
}

.etapa3-select-icon-ado {
  position: absolute;
  right: 0.75rem;
  pointer-events: none;
  color: #555;
}
