.cabecalho-container {
  border-radius: 10px;
  text-align: left;
  margin-bottom: -15px;
}

.cabecalho-titulo {
  font-size: 45px;
  font-weight: bold;
  color: #ff3131;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cabecalho-subtitulo {
  font-size: 20px;
  color: #a1a1a1; /* Cor mais suave para o subtítulo */
  margin-bottom: 8px;
}

.cabecalho-barra {
  width: 100%;
  height: 40px;
  background-color: #fff2df;
  border-radius: 5px;
  border: 2px solid #fcce8a;
  padding: 15px;
  font-size: 16px;
  outline: none;
  caret-color: transparent;
  font-weight: bold;
  margin-bottom: -10px;
}
