.container-inicial-comofunc {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 90px;
  gap: 70px; /* Espaçamento entre os itens */
  top: 10px;
  flex: 1;
  margin-left: -10px;
}

.templates-container-comofunc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  margin: 300px 600px auto 10px;
  gap: 60px;
  flex-wrap: wrap;
  position: absolute;
  width: 800px;
  z-index: 10;
}

.templates-texto-comofunc {
  max-width: 600px;
  z-index: 10;
}

.templates-texto-comofunc h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.templates-texto-comofunc p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  width: 580px;
}

.templates-botao-comofunc {
  background: #ff9689;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.templates-terceiro-imagem-comofunc video {
  max-width: 1000px;
  margin: -1000px 600px auto 400px;
}

.templates-video-comofunc {
  max-width: 700px;
  border-radius: 1rem;
  margin-top: -630px;
}

.templates-segundo-container-comofunc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  margin: 800px 600px auto 10px;
  gap: 60px;
  flex-wrap: wrap;
  position: absolute;
  width: 800px;
}

.templates-segundo-texto-comofunc {
  margin-left: 200px;
  z-index: 10;
  margin-top: 100px;
}

.templates-segundo-texto-comofunc h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 20px;
  margin-left: 500px;
  width: 600px;
}

.templates-segundo-texto-comofunc p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  margin-left: 500px;
}

.templates-segundo-botao-comofunc {
  background: #ff9689;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 500px;
}

.templates-terceiro-container-comofunc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  margin: 1750px 600px auto 10px;
  gap: 60px;
  flex-wrap: wrap;
  position: absolute;
  width: 800px;
  z-index: -20;
}

.templates-terceiro-imagem-comofunc video {
  max-width: 1000px;
  margin: -1000px 600px auto 400px;
}

.templates-terceiro-texto-comofunc {
  max-width: 490px;
  z-index: 10;
}

.templates-terceiro-texto-comofunc h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.templates-terceiro-texto-comofunc p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  width: 560px;
}

.petos-beneficios-container-comofunc {
  display: flex;
  justify-content: center;
  margin: 2200px auto auto auto;
  position: absolute;
  gap: 2rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
}

.beneficio-card-comofunc {
  background-color: #ff3131;
  color: white;
  padding: 40px 10px 10px 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.beneficio-card-comofunc:hover {
  transform: translateY(-5px);
}

.beneficio-icon-comofunc {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.faq-container-comofunc {
  max-width: 800px;
  margin: 2600px 560px auto auto;
  padding: 3rem 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  position: absolute;
  gap: 2rem;
  flex-wrap: wrap;
}

.faq-item-comofunc {
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: -10px;
}

.faq-item-comofunc:hover .faq-pergunta-comofunc {
  color: #da2a2a;
}

.faq-pergunta-comofunc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  color: #ff6969;
}

.faq-resposta-comofunc {
  margin-top: 30px;
  margin-bottom: -15px;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.icone-seta-comofunc {
  position: absolute; /* novo */
  transition: transform 0.3s ease;
  left: 750px;
}

.icone-seta.girar-comofunc {
  transform: rotate(180deg);
}

.faq-imagem-comofunc img {
  max-width: 600px; /* ou como preferir */
  height: auto;
  border-radius: 12px; /* opcional para estilo */
  margin-left: 750px;
  margin-top: -520px;
}

.footer-container-painel-comofunc {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: -900px;
}
