.form-wrapper-tut {
  width: 600px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  border-radius: 12px;
}

.form-title-tut {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.form-content-tut {
  display: flex;
  flex-direction: column;
}

.form-textarea-tut::placeholder {
  color: #999;
}

.form-input-tut::placeholder {
  color: #999;
}

.form-title-tut {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label-tut {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: -14px;
}

.form-optional-tut {
  font-weight: 400;
  font-size: 0.8rem;
  color: #999;
  margin-left: 0.3rem;
}

.form-input-tut,
.form-textarea-tut {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.form-input-tut:focus,
.form-textarea-tut:focus {
  border-color: #ffc1c1;
  box-shadow: 0 0 0 2px rgba(255, 193, 193, 0.5);
}
