/* 
html {
  zoom: 0.9;  Diminui o tamanho da página sem cortar elementos 
}
*/

body {
  width: 100vw; /* Garante que o body ocupe toda a tela */
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
}

@media (max-width: 768px) {
  .container-principal {
    padding: 5px;
  }

  .sidebar {
    max-width: 100%;
    display: block;
  }
}
