.nome-animal {
  font-size: 25px;
  font-weight: bold;
  margin-top: -2px;
}

.especie,
.comentario {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Pequeno espaço entre título e conteúdo */
}

.recompensa-pet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #a9f9c9; /* verde claro */
  border-radius: 8px;
  padding: 5px 5px;
  font-weight: bold;
  color: #155e37; /* verde escuro */
  width: 300px;
  margin-left: 370px;
  margin-bottom: -50px;
}

.icone-recompensa {
  color: green;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

strong {
  font-size: 15px;
  color: #ff3131; /* Cor levemente mais escura para destaque */
}

/* Ícones no canto superior esquerdo */
.animal-post-icon {
  position: absolute;
  left: 85%; /* Ajustado para alinhar à esquerda */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os ícones */
  font-size: 35px; /* Ajuste do tamanho */
}

.animal-icon-macho {
  color: #007bff;
}

.animal-icon-femea {
  color: #ff1493;
}

.animal-icon-gato {
  color: #ff9800;
}

.animal-icon-cachorro {
  color: #795548;
}

.animal-icon-passaro {
  color: #4caf50;
}

.info-desaparecimento {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  padding: 10px 0;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-item strong {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #616161; /* Cor semelhante ao template */
}

.info-item p {
  font-size: 16px;
  color: #4a4a4a;
}

.ref-ajuste-post {
  margin-top: 5px;
}

.nome-sobrenome-ajuste-post {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5px;
}
