.containerFooter {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin: 4000px 600px auto auto;
}

.auxFooter {
  display: flex;
  flex-direction: column; /* Alinha verticalmente */
  align-items: center;
  justify-content: center;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px -20px;
}

.logoPetOS {
  height: 150px;
}

.iconMidias {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 15px;
}

.iconMidias a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px; /* Tamanho do texto */
  text-decoration: none;
  color: #ff3131; /* Ajuste conforme seu tema */
}

.iconMidias svg {
  font-size: 20px; /* Tamanho do ícone */
}

.copyRight {
  margin-top: 20px;
  font-size: 12px;
}
