.historias-container {
  max-width: 550px;
  margin: 40px auto;
  padding: 0 50px;
  position: relative;
  overflow: visible;
}

.titulo-historias {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}

.descricao-historias {
  font-size: 15px;
  margin-bottom: 70px;
  color: #585858;
}

.cartao-historia {
  overflow: hidden;
  background: white;
  border-radius: 12px;
  padding: 50px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imagem-perfil img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid #4caf50;
  margin-bottom: 20px;
}

.reencontro-container {
  display: flex; /* Ativa o Flexbox */
  align-items: center; /* Centraliza verticalmente */
  gap: 15px; /* Espaçamento entre a imagem e o texto */
}

.reencontro {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.nome-cachorro {
  font-size: 20px;
}

.dono {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.cidade {
  font-size: 16px;
  color: gray;
  margin-bottom: 5px;
}

.descricao {
  font-size: 16px;
  margin-top: 10px;
}

.icon-star {
  color: #ffd040;
  margin-left: 5px;
}

.navegacao-carrosel-externa {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.icone-botao {
  color: #fff;
  font-size: 25px;
}

.swiper-area {
  position: relative;
  width: 100%;
}

.swiper-button-prev-custom {
  position: absolute;
  margin-bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 30px;
  height: 330px; /* Altura maior para efeito vertical */
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.swiper-button-next-custom {
  position: absolute;
  margin-bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 30px;
  height: 330px; /* Altura maior para efeito vertical */
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Semitransparente */
}

.swiper-button-prev-custom {
  left: 0;
  margin-left: -30px;
}

.swiper-button-next-custom {
  right: 0;
  margin-right: -30px;
}
