.container-geral {
  position: absolute;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  padding: 90px;
  gap: 70px; /* Espaçamento entre os itens */
  border-radius: 10px;
  top: 10px;
}

.page-title {
  font-size: 3rem; /* Título grande */
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.page-address {
  font-size: 1.2rem; /* Texto menor */
  color: #666;
}
