.container-geral {
  position: absolute;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: left;
  width: 100%;
  border-radius: 10px;
  padding: 90px;
  gap: 60px; /* Espaçamento entre os itens */
  border-radius: 10px;
}
