<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>PetOS Teste</title>
    <link rel="stylesheet" href="/View/CSS/styly.css" />
    <link rel="stylesheet" href="/View/CSS/filter.css" />
  </head>
  <body>
    <!-- Barra superior -->
    <div class="navbar">
      <div class="logo">PetOS</div>

      <!-- Ícones da esquerda -->
      <div class="left-icons">
        <a href="adocao.html">
          <img
            src="../Image/adocao_icon.png"
            alt="Icone Adoção"
            class="icon-adot"
          />
        </a>
        <a href="home.html" class="active">
          <img
            src="../Image/animal-shelter.png"
            alt="Icone Home"
            class="icon-home"
          />
        </a>
      </div>

      <!-- Barra de pesquisa centralizada -->
      <div class="search-bar">
        <input type="text" placeholder="Pesquisar no PetOS" />
      </div>

      <!-- Ícone do perfil à direita -->
      <div class="right-profile">
        <a href="perfil.html">
          <img
            src="https://i.pinimg.com/236x/e4/58/0f/e4580fce3a0d7dcb4e6396632a92ed06.jpg"
            alt="Perfil"
            class="profile-pic"
          />
          <div class="online-indicator"></div>
        </a>
      </div>
    </div>

    <!-- Barra lateral de filtros -->
    <div class="sidebar-filter">
      <h2>Filtros</h2>

      <div class="filter-group">
        <label for="address">Endereço, cidade ou CEP</label>
        <input type="text" id="address" />
      </div>

      <div class="filter-group">
        <label for="name-id">Nome ou ID</label>
        <input type="text" id="name-id" />
      </div>

      <div class="filter-group">
        <label>Espécie</label>

        <label class="switch no-bold">
          <input type="checkbox" name="especie" value="cachorro" />
          <span class="slider"></span> Cachorro
        </label>
        <label class="switch no-bold">
          <input type="checkbox" name="especie" value="gato" />
          <span class="slider"></span> Gato
        </label>
        <label class="switch no-bold">
          <input type="checkbox" name="especie" value="passaro" />
          <span class="slider"></span> Pássaro
        </label>
      </div>

      <div class="filter-group">
        <label>Gênero</label>
        <label class="switch no-bold">
          <input type="checkbox" name="genero" value="macho" />
          <span class="slider"></span> Macho
        </label>
        <label class="switch no-bold">
          <input type="checkbox" name="genero" value="femea" />
          <span class="slider"></span> Fêmea
        </label>
      </div>

      <div class="filter-group">
        <label for="size">Porte</label>
        <select id="size">
          <option value="">Qualquer</option>
          <option value="pequeno">Pequeno</option>
          <option value="medio">Médio</option>
          <option value="grande">Grande</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="color">Cor</label>
        <select id="color">
          <option value="">Qualquer</option>
          <option value="preta">Preta</option>
          <option value="branca">Branca</option>
          <option value="cinza">Cinza</option>
          <option value="marrom">Marrom</option>
          <option value="caramelo">Dourada (Caramelo)</option>
          <option value="vermelha">Vermelha</option>
          <option value="outra">Outra</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="eye-color">Cor dos Olhos</label>
        <select id="eye-color">
          <option value="">Qualquer</option>
          <option value="escuros">Escuros</option>
          <option value="azuis">Azuis</option>
          <option value="verdes">Verdes</option>
          <option value="amarelos">Amarelos</option>
          <option value="heterocromia">Um de cada cor</option>
          <option value="outra">Outra</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="color">Idade</label>
        <select id="color">
          <option value="">Qualquer</option>
          <option value="filhote">Filhote</option>
          <option value="adulto">Adulto</option>
          <option value="senior">Sênior</option>
        </select>
      </div>

      <button class="filter-btn">Buscar</button>
    </div>

    <!-- Conteúdo principal (Posts) -->
    <div class="container">
      <!-- Post 1 -->
      <div class="post">
        <div class="post-header">
          <img
            src="https://img.odcdn.com.br/cdn-cgi/image/width=1200,height=1200,fit=cover/wp-content/uploads/2021/05/Dragon-Ball-Goku-Moro-00-896x504-1.jpg"
            alt="Perfil"
          />
          <div class="name">Goku</div>
        </div>
        <div class="post-content">
          TESTETESTETESTESTESTETESTETESTETESTETESTESTESTETESTE
        </div>
        <img
          class="post-image"
          src="https://img.freepik.com/fotos-gratis/retrato-de-solo-adoravel-cachorro-pug_53876-64831.jpg"
          alt="Imagem do post"
        />
        <div class="post-actions">
          <button>👍 Curtir</button>
          <button>💬 Comentar</button>
          <button>↗️ Compartilhar</button>
        </div>
      </div>

      <!-- Post 2 -->
      <div class="post">
        <div class="post-header">
          <img
            src="https://preview.redd.it/ock6i5drreq21.png?auto=webp&s=082307cdf45fd019142446d11f5396474d7b4ed3"
            alt="Perfil"
          />
          <div class="name">Vegeta</div>
        </div>
        <div class="post-content">
          TESTETESTETESTESTESTETESTETESTETESTETESTESTESTETESTE
        </div>
        <img
          class="post-image"
          src="https://media.tenor.com/Qc6czV9lIXUAAAAe/cachorro-desconfiado.png"
          alt="Imagem do post"
        />
        <div class="post-actions">
          <button>👍 Curtir</button>
          <button>💬 Comentar</button>
          <button>↗️ Compartilhar</button>
        </div>
      </div>

      <!-- Post 3 -->
      <div class="post">
        <div class="post-header">
          <img
            src="https://i.pinimg.com/474x/d2/2d/96/d22d961b0ba588245cadf973c4d8bc50.jpg"
            alt="Perfil"
          />
          <div class="name">Trunks</div>
        </div>
        <div class="post-content">
          TESTETESTETESTESTESTETESTETESTETESTETESTESTESTETESTE
        </div>
        <img
          class="post-image"
          src="https://s3.glbimg.com/v1/AUTH_35862ca5c6ab48b992baf1f1b4f7062e/m-extra-globo-com/incoming/15974246-0a3-188/w488h275-PROP/caes-montagem.jpg"
          alt="Imagem do post"
        />
        <div class="post-actions">
          <button>👍 Curtir</button>
          <button>💬 Comentar</button>
          <button>↗️ Compartilhar</button>
        </div>
      </div>
    </div>
    <script src="/Controller/filter.js"></script>
  </body>
</html>
